@import url('https://fonts.googleapis.com/css2?family=Freehand&family=Kaushan+Script&family=Poppins:ital,wght@1,200&family=Poppins:wght@200;400&family=Smooch&display=swap');

:root {
  --primary_color: #2e325f;
  --secondary_color: #212445;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--primary_color);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

header {
  background-color: var(--secondary_color);
  display: flex;
  justify-content: space-between;
  padding: 1.6rem;
}

.logo {
  font-size: 2rem;
  background: -webkit-linear-gradient(#374151, #94b2e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.search {
  background-color: transparent;
  border: 0.2rem solid #64748b;
  border-radius: 5rem;
  font-family: inherit;
  padding: 0.5rem 1rem;
  transition: 0.3s all ease-in-out
}

.search::placeholder {
  color: #78716c;
}

.search:focus {
  transition-duration: 0.3s;
  border-radius: 0rem;
  outline: none;
  background-color: var(--primary_color);
  color: #fff;
  -webkit-box-shadow:0px 0px 9px 0px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 9px 0px rgba(255,255,255,1);
  box-shadow: 0px 0px 9px 0px rgba(255,255,255,1);
}

#main {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  width: 28rem;
  margin: 1.9rem;
  background-color: var(--secondary_color);
  box-shadow: 0.2rem 0.2rem 3rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  overflow: hidden;
  position: relative;
  transition: 0.3s all ease-in-out

}

.movie-img {
  width: 100%;
  transition: 0.5s all ease-in-out
}

.movie-info {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
}

.movie-info h3 {
  color: #eee;
}

.movie-info span {
  background-color: var(--primary_color);
  padding: 0.5rem 0.5rem 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.red {
  color: crimson;
}

.movie-info span.orange {
  color: orange;
}

.overview {
  position: absolute;
  top:0px;
  left:0px;
  background-color: rgba(255,255,255,.7);
  width:100%;
  height:100%;
  transition: all .7s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
  font-size: 1.5rem;
}
.rating-average{
  background-color:red;
  color:white;
}

.movie:hover .overview {
  /* transform: translateY(0); */
  left:0px;
    transition: all .7s ease-in-out;
    clip-path: circle(75%);
    opacity: 70%;
}

.movie:hover .movie-img{
  transition-duration: 0.3s;
  transform: scale(1.5) rotate(15deg);
  filter: blur(3px);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  padding: 1rem;
  background-color: var(--secondary_color);
}

.footer-link,
a {
  text-transform: uppercase;
  text-decoration: none;
  color: #b91c1c;
}

.errorHandle {
  font-size: 2rem;
  color: #e1f4f3;
  padding: 2rem;
  margin: 2rem auto;
}

@media only screen and (max-width: 700px) {
  header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .movie {
    width: 40%;
    /* margin: 1.9rem; */
    background-color: var(--secondary_color);
    box-shadow: 0.2rem 0.2rem 3rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    overflow: hidden;
    position: relative;
  }
}

@media only screen and (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .movie {
    width: 100%;
    /* margin: 1.9rem; */
    background-color: var(--secondary_color);
    box-shadow: 0.2rem 0.2rem 3rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    overflow: hidden;
    position: relative;
  }
}
@media only screen and (min-width: 700px) {
  .movie:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
    z-index: 100;
  }
}
